@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.exercise-card {
  @include card;
  @include card-hover;
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  color: $color-text-primary;

  h3 {
    font-size: $font-size-lg;
  }

  &__top {
    @include flex-between;
    gap: $spacing-3;
  }

  &__description {
    color: $color-text-secondary;
  }

  &__meta {
    display: flex;
    gap: $spacing-2;
    flex-wrap: wrap;
  }
}


